apiVersion: v1
kind: ConfigMap
metadata:
  name: elastic-config
data:
  elasticsearch.yml: |
    cluster.name: es-cluster
    network.host: 0.0.0.0
    node.name: ${HOSTNAME}

    discovery.seed_hosts:
      - elastic-0.elastic
      - elastic-1.elastic

    cluster.initial_master_nodes:
      - elastic-0
      - elastic-1

    xpack.security.enabled: true

    xpack.security.transport.ssl:
      enabled: true
      verification_mode: certificate
      certificate: certs/transport/tls.crt
      key: certs/transport/tls.key
      certificate_authorities: ["certs/ca/ca.crt"]

    xpack.security.http.ssl:
      enabled: true
      certificate: certs/http/tls.crt
      key: certs/http/tls.key
      certificate_authorities: ["certs/ca/ca.crt"]
